*.tar.bz2
*.tar.gz
*.7z
*.pyc
*.zip
*.exe
.idea
.DS_Store
_bin
_obj
*.depend
*.o
.*.swp
*.gcode
CuraEngine
build/*
*~
NUL
*.in
aclocal.m4
autom4te.cache
libs/clipper/.deps
src/.deps
src/modelFile/.deps
src/utils/.deps
.dirstamp
missing
config.h
config.log
config.status
configure
depcomp
install-sh
stamp-h1
Makefile
CuraEngine.layout
